#meals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .mealBoxes {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 5%;
    border-color: bisque;

    .allergyContainer {
      display: flex;
      justify-content: center;
      flex-direction: row;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .buttonContainer {
      display: flex;
      flex-direction: row;
    }
    .mealImages {
      width: 200px;
    }
  }
}

#start {
  .textBlockHolder {

    .startTextBlock {
      margin:5vh;
      padding:2em;
      max-width:40em;
      background-color:rgba(2255, 255, 255, 0.5);
      font-size:21px;
      z-index:1;
      backdrop-filter:blur(4px)
    }
  }
  .videoContainer {
    position: relative;
    display: flex;
    justify-content: center;

    video {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }
}

#confirmation {
  .confirmationAlign {
    display:flex;
    flex:1;
    flex-grow:1;
    justify-content:center;
    align-content:center;

    .confirmationMessage {
      max-width: fit-content;
      margin: 5vh;
      padding: 2em;
      max-width: 20em;
      font-size: 21px;
      z-index: 1;
      background-color: rgba(255,255,255,0.5);
      backdrop-filter: blur(4px);
      text-align: center;

        .tableContainer {
          display: flex;
          justify-content: center;

          #sumCell {
            text-align: right;
            border-top: 1px solid;
          }
        }
    }
  }
}



.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding-top: 10px;
  background: rgba(226, 223, 223, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .navbar_logo {
    display: flex;
    justify-content: flex-start;
  }
  .homelinkul {
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-right: 80px;

    li {
      cursor: pointer;
      text-decoration: none;
    }
    a {
      display: flex;
      text-decoration: none;
      color: #000;
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 0.8px;
    }
  }
  .navbar-links-to-right {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    list-style: none;

    li {
      margin: 0 1rem;
      border-radius: 30px;
      background: rgba(197, 110, 51, 0.7);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    a {
      padding: 10px;
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      text-decoration: none;
    }
  }
  li :hover {
    text-decoration: underline;
    color: #2563eb;
  }
}

.wrapper {
  position: relative;
  background-image: url('../public/img/start_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}
.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.2);
}

